@import url(fonts/clear-sans.css);

* {
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

body {
    margin: auto;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 68px;
}

h2 {
    font-size: 40px;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#gameover {
    font-size: 48px;
    margin-top: 50px;
    text-align: center;
}

.gbutton {
    width: 150px;
    height: 75px;
    font-size: 24px;
}

.column {
    float: left;
    width: 50%;
    border: 5px solid;
    box-sizing: border-box;
    height: auto;
    text-align: center;
    font-size: 36px;
    padding: 70px 0;
}

.column div {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}